@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Prata&display=swap&subset=cyrillic");
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: none;
}

iframe {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  margin: 0;
  overflow: hidden !important;
}

ul {
  list-style-type: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-full {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container-full {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.gray {
  background-color: #3a383c;
}

.section {
  padding: 7.5rem 0;
}

.sub-title,
.h2 {
  display: block;
  text-align: center;
}

.m0 {
  margin: 0 !important;
}

.sub-title {
  color: #7B7B7B;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 2.2rem;
}

.sub-title span {
  border-bottom: 2px solid #7B7B7B;
  display: inline-block;
}

.sub-title:after {
  content: '';
  display: block;
  border-bottom: 1px solid #7B7B7B;
}

.h2,
h2 {
  color: #B6985A;
  font-size: 3.8rem;
  margin-bottom: 2.6rem;
}

@media screen and (max-width: 780px) {
  .h2,
  h2 {
    font-size: 2.8rem;
  }
}

.h2 .small,
h2 .small {
  font-size: 2rem;
}

@media screen and (max-width: 780px) {
  .h2 .small,
  h2 .small {
    font-size: 1.8rem;
  }
}

.article {
  color: #615a4d;
}

.article p {
  margin-bottom: 2rem;
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Prata', serif;
}

ul.style-1 {
  margin: 3rem 0 3rem 3rem;
  color: #615a4d;
}

ul.style-1 li {
  margin-bottom: 2rem;
}

ul.style-1 li:before {
  content: url("../img/icons/polygon.svg");
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  border-radius: 1rem;
  display: inline-block;
  letter-spacing: .2rem;
  font-weight: bold;
  outline: none !important;
  border: none;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
}

.btn.btn-primary {
  font-size: 1.2rem;
  color: #fff;
  padding: 2rem 3rem;
  -webkit-box-shadow: 0 0.4rem 0.4rem #775f2e;
          box-shadow: 0 0.4rem 0.4rem #775f2e;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2A506), to(#B6985A)), #B6985A;
  background: linear-gradient(180deg, #F2A506 0%, #B6985A 100%), #B6985A;
  min-width: 20rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn.btn-primary:hover {
  -webkit-box-shadow: 0 0.3rem 0.8rem #775f2e;
          box-shadow: 0 0.3rem 0.8rem #775f2e;
}

.btn.btn-primary:active {
  background: #d8a337;
}

.btn.btn-primary.btn-sm {
  font-size: 1.2rem;
  padding: 1.5rem;
}

.btn.btn-inverse {
  font-size: 1rem;
  padding: 1rem 1.2rem;
  color: #B6985A;
  border: 1px solid #B6985A;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn.btn-inverse:hover {
  background-color: #B6985A;
  color: #fff;
}

.btn.btn-inverse:active {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.btn.btn-outline {
  font-size: 1.2rem;
  color: #B6985A;
  padding: 2rem 3rem;
  color: #B6985A;
  border: 1px solid #B6985A;
  border-color: #B6985A;
  min-width: 20rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn.btn-outline:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F2A506), to(#B6985A)), #B6985A;
  background: linear-gradient(180deg, #F2A506 0%, #B6985A 100%), #B6985A;
  color: #fff;
}

.btn.btn-outline:active {
  background: #d8a337;
}

.other-pages .row {
  background-color: #fff;
}

header .border-bottom {
  border-bottom: 1px solid #c4c4c4;
}

.main-header {
  position: relative;
  min-height: 80rem;
  overflow: hidden;
}

@media (max-width: 780px) {
  .main-header {
    min-height: unset;
  }
}

.main-header .logo {
  z-index: 50;
}

.main-header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.main-header .col-left,
.main-header .col-right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

@media screen and (max-width: 780px) {
  .main-header .col-left,
  .main-header .col-right {
    width: calc(100% - 30px);
  }
}

.main-header .col-left {
  background-color: #fff;
}

@media (max-width: 780px) {
  .main-header .col-left {
    background-color: transparent;
  }
}

.main-header .col-left .btn {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.main-header .col-right {
  position: relative;
}

.main-header h1 {
  margin-top: 8rem;
  color: #B6985A;
  font-size: 4.1rem;
  margin-bottom: 4rem;
}

@media (max-width: 780px) {
  .main-header h1 {
    margin-top: 3rem;
    font-size: 3.6rem;
    margin-bottom: 3rem;
  }
}

.main-header .right-navbar {
  min-height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding-left: 2.5rem;
  max-width: 38rem;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.main-header .right-navbar:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 75rem;
  background-color: #fff;
  z-index: -1;
}

@media (max-width: 870px) {
  .main-header .right-navbar {
    display: none;
  }
}

.main-header .bg-img {
  right: 0;
  left: 51%;
  top: 0;
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 80rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 780px) {
  .main-header .bg-img {
    opacity: .15;
    width: 100%;
    left: 0;
  }
}

@media (max-width: 870px) {
  .main-header .menu {
    display: none;
  }
}

.col-right .phone,
.mobile-navbar .phone {
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #B6985A;
  margin: 1rem 0;
  white-space: nowrap;
}

.col-right .phone.i-phone:before,
.mobile-navbar .phone.i-phone:before {
  content: url("../img/icons/i-phone.svg");
  margin-right: 1rem;
  vertical-align: middle;
}

.navbar {
  letter-spacing: 0.2em;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu a {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  display: inline-block;
  margin: .5rem 1.2rem .5rem 0;
}

.menu a:hover {
  color: #B6985A;
}

.menu li:last-child a {
  margin-right: 0;
}

.menu-top {
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}

.menu-top a {
  font-size: .9rem;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.menu-top .current-menu-item a {
  color: #B6985A;
}

.menu-bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-bottom a {
  font-size: 1.2rem;
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.menu-bottom a::before {
  position: absolute;
  top: 85%;
  left: 50%;
  color: transparent;
  content: '•';
  text-shadow: 0 0 transparent;
  font-size: 1.2em;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  pointer-events: none;
}

.menu-bottom a:hover::before, .menu-bottom a:focus::before {
  color: #B6985A;
  text-shadow: 10px 0 #B6985A, -10px 0 #B6985A;
}

.menu-bottom a:hover, .menu-bottom a:focus {
  color: #B6985A;
}

.menu-bottom .current-menu-item a {
  color: #B6985A;
}

.menu-bottom .current-menu-item a::before {
  color: #B6985A;
  text-shadow: 10px 0 #B6985A, -10px 0 #B6985A;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.logo-text {
  font-family: 'Prata', serif;
  font-size: 1.4rem;
  color: #615a4d;
  width: 7.2rem;
  margin-left: 1rem;
}

.logo:hover {
  -webkit-filter: saturate(180%);
          filter: saturate(180%);
}

.logo.big {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo.big .logo-icon img {
  width: 10rem;
  height: auto;
}

.logo.big .logo-text {
  margin-left: 1.8rem;
  font-size: 2.4rem;
  letter-spacing: 0.48rem;
  width: 12.2rem;
  text-align: left;
}

.logo.medium .logo-icon img {
  width: 8.2rem;
  height: auto;
}

.logo.medium .logo-text {
  margin-left: 1.5rem;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  width: 12.2rem;
  text-align: left;
}

.ham {
  cursor: pointer;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  z-index: 50;
}

@media (max-width: 870px) {
  .ham {
    display: block;
  }
}

.ham .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #B6985A;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham .top {
  stroke-dasharray: 40 82;
}

.ham .middle {
  stroke-dasharray: 40 111;
}

.ham .bottom {
  stroke-dasharray: 40 161;
}

.ham.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}

.ham.active .middle {
  stroke-dashoffset: 23px;
}

.ham.active .bottom {
  stroke-dashoffset: -83px;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.youtube {
  background-color: #000;
  position: relative;
  padding-top: 45.25%;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.youtube img {
  width: 100%;
  top: -16.82%;
  left: 0;
  opacity: 0.7;
}

.youtube img {
  cursor: pointer;
}

.youtube img,
.youtube iframe {
  position: absolute;
}

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.video-play-button {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 30px 20px 18px 34px;
}

.video-play-button:before, .video-play-button:after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #da9f27;
  border-radius: 50%;
}

.video-play-button:before {
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: #b0801e;
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 29px solid #fff;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

#features {
  padding-bottom: 2.6rem;
}

.features-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 6.5rem;
  counter-reset: count;
}

.features-row .feature {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-bottom: 3rem;
}

@media screen and (max-width: 1100px) {
  .features-row .feature {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .features-row .feature {
    width: calc(100% - 30px);
  }
}

.features-row .feature .icon {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.features-row .feature .icon:before {
  position: absolute;
  left: 1.4rem;
  top: 0;
  counter-increment: count;
  content: "0" counter(count);
  color: #fff;
  font-size: 2rem;
  font-family: 'Prata', serif;
  width: 3.6rem;
  height: 3.6rem;
  background-color: #3a383c;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.features-row .feature .title {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 3rem;
}

.features-row .feature p {
  color: #9D98A1;
  margin-bottom: 2rem;
}

@media screen and (max-width: 780px) {
  .features-row .feature {
    text-align: center;
  }
}

.features-row.inverse .feature .icon:before {
  color: #615a4d;
  background-color: #fff;
}

.features-row.inverse .feature .title {
  color: #615a4d;
}

.features-row.inverse .feature p {
  color: #9D98A1;
}

.features-row.small-features {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-row.small-features .feature {
  width: calc(16.66667% - 30px);
  text-align: center;
}

@media screen and (max-width: 960px) {
  .features-row.small-features .feature {
    width: calc(33.33333% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .features-row.small-features .feature {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .features-row.small-features .feature .title {
    font-size: 1.8rem;
  }
}

a.link {
  text-transform: uppercase;
  font-weight: bold;
  color: #B6985A;
  font-size: 1.2rem;
  position: relative;
}

a.link:before {
  content: '';
  position: absolute;
  bottom: -.3rem;
  height: 3px;
  width: 100%;
  background-color: rgba(182, 152, 90, 0.3);
  -webkit-transition: height .2s;
  transition: height .2s;
}

a.link:hover:before {
  height: 130%;
}

@-webkit-keyframes hover {
  from {
    height: 3px;
  }
  to {
    height: 130%;
  }
}

@keyframes hover {
  from {
    height: 3px;
  }
  to {
    height: 130%;
  }
}

@-webkit-keyframes hoverOut {
  from {
    height: 130%;
  }
  to {
    height: 3px;
  }
}

@keyframes hoverOut {
  from {
    height: 130%;
  }
  to {
    height: 3px;
  }
}

.shapes {
  position: relative;
}

.shapes::before {
  content: url("../img/decor-bg.svg");
  position: absolute;
  top: 15rem;
  left: 0;
}

.shapes::after {
  content: url("../img/decor-bg.svg");
  position: absolute;
  bottom: 10rem;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 780px) {
  .shapes::before, .shapes::after {
    display: none;
  }
}

#video {
  padding-bottom: 9rem;
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-container .youtube {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(83.33333% - 30px);
}

@media screen and (max-width: 960px) {
  .video-container .youtube {
    width: calc(100% - 30px);
  }
}

#directions {
  padding-bottom: 0;
}

.directions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 780px) {
  .directions-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.directions-wrapper .direction {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.directions-wrapper .direction img {
  width: 100%;
  min-height: 60rem;
  max-height: 130rem;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: .5;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

@media screen and (max-width: 780px) {
  .directions-wrapper .direction img {
    min-height: 45rem;
  }
}

@media screen and (max-width: 780px) {
  .directions-wrapper .direction img {
    height: 45rem;
  }
}

.directions-wrapper .direction .content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.directions-wrapper .direction .content .title {
  color: #fff;
  font-size: 3.2vh;
  margin-bottom: 2rem;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: -webkit-transform .3s ease-in-out .2s;
  transition: -webkit-transform .3s ease-in-out .2s;
  transition: transform .3s ease-in-out .2s;
  transition: transform .3s ease-in-out .2s, -webkit-transform .3s ease-in-out .2s;
}

.directions-wrapper .direction .content .btn {
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.directions-wrapper .direction:hover {
  cursor: pointer;
}

.directions-wrapper .direction:hover img {
  opacity: 1;
}

.directions-wrapper .direction:hover .content .title {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.directions-wrapper .direction:hover .content .btn {
  opacity: 1;
  -webkit-transition: opacity .3s ease-in-out .5s;
  transition: opacity .3s ease-in-out .5s;
}

#portfolio .h2 {
  margin-bottom: 3.8rem;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  margin-bottom: 3rem;
}

.gallery .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  min-height: 274px;
  overflow: hidden;
}

.gallery .item:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.gallery .item img {
  width: 100%;
  height: 100%;
  -webkit-transition: 2s cubic-bezier(0.22, 0.61, 0.27, 1.02);
  transition: 2s cubic-bezier(0.22, 0.61, 0.27, 1.02);
}

#stone-types .h2 {
  margin-bottom: 5rem;
}

.stone-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.stone-types .stone-type {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  overflow: hidden;
  margin-bottom: 3rem;
  height: 30rem;
}

@media screen and (max-width: 780px) {
  .stone-types .stone-type {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .stone-types .stone-type {
    height: auto;
  }
}

.stone-types .stone-type img {
  width: 100%;
  -webkit-transition: 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  transition: 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.stone-types .stone-type .img-container {
  overflow: hidden;
  height: 23.7rem;
  width: 100%;
  margin-bottom: 1rem;
  -webkit-transition: 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  transition: 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

@media screen and (max-width: 780px) {
  .stone-types .stone-type .img-container {
    height: auto;
  }
}

.stone-types .stone-type .content .title {
  font-size: 2.8rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.stone-types .stone-type .content p {
  color: #9D98A1;
}

.stone-types .stone-type:hover .img-container {
  margin-top: -6.2rem;
}

.stone-types .stone-type:hover .img-container img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#services {
  padding-bottom: 10rem;
}

.h3,
h3 {
  color: #B6985A;
  font-size: 2.8rem;
  margin-bottom: 1.4rem;
}

.short-width {
  max-width: 54.1rem;
  margin: auto;
  margin-bottom: 1rem;
}

#pre-footer {
  background: #3a383c url("../img/pre-footer.jpg") center/cover no-repeat;
  text-align: center;
  color: #fff;
  border-bottom: 0.5rem solid #B6985A;
}

#pre-footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5.8rem auto 4rem;
  border-radius: 1rem;
}

#pre-footer form .input-wrapper {
  border-radius: 1rem 0 0 1rem;
  width: 31rem;
  height: auto;
}

#pre-footer form .input-wrapper input {
  border-radius: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 1.6rem 3rem;
  border: 1px solid transparent;
  height: 100%;
}

#pre-footer form .input-wrapper input:focus {
  border-color: #B6985A;
}

@media screen and (max-width: 780px) {
  #pre-footer form .input-wrapper input {
    padding: 1.2rem 1rem;
  }
}

#pre-footer form .btn {
  border-radius: 0 1rem 1rem 0;
  background-color: #B6985A;
  color: #fff;
  font-size: 1rem;
  padding: 1.8rem 3rem;
  border: none;
}

@media screen and (max-width: 780px) {
  #pre-footer form .btn {
    padding: 1.2rem 1rem;
  }
}

#pre-footer form .btn:hover {
  cursor: pointer;
  -webkit-filter: saturate(115%) brightness(115%);
          filter: saturate(115%) brightness(115%);
}

#pre-footer .socials span {
  margin-right: 2rem;
}

@media screen and (max-width: 780px) {
  #pre-footer .socials span {
    margin-right: 0;
  }
}

#pre-footer .socials .links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.s-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  border: 1px solid #B6985A;
  border-radius: .5rem;
  margin: .6rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.s-link:hover {
  background-color: #B6985A;
}

.s-link:hover img {
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
}

footer {
  padding-top: 4.5rem;
  padding-bottom: 5rem;
  background-color: #3a383c;
  color: #fff;
  font-size: 1.2rem;
}

footer .menu a,
footer .link-2 {
  text-decoration: underline;
  text-transform: none;
  font-weight: normal;
}

footer .menu a:hover,
footer .link-2:hover {
  text-decoration: none;
  color: inherit;
}

footer .logo {
  margin-bottom: 1rem;
}

footer .logo-text {
  color: #B6985A;
  letter-spacing: .2rem;
}

footer .btn {
  margin-top: 1.6rem;
  margin-bottom: 6rem;
}

footer .privacy {
  color: #a0a0a1;
  display: block;
  margin-bottom: 0.5rem;
}

footer .copyright {
  color: #6d6d6f;
  display: block;
}

footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

footer .row .col-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
}

@media screen and (max-width: 960px) {
  footer .row .col-1 {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 780px) {
  footer .row .col-1 {
    width: calc(100% - 30px);
  }
}

footer .row .col-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66667% - 30px);
}

@media screen and (max-width: 960px) {
  footer .row .col-2 {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 780px) {
  footer .row .col-2 {
    width: calc(100% - 30px);
  }
}

footer .row .col-3,
footer .row .col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(16.66667% - 30px);
}

@media screen and (max-width: 780px) {
  footer .row .col-3,
  footer .row .col-4 {
    width: calc(50% - 30px);
  }
}

footer .col-2,
footer .col-3,
footer .col-4 {
  margin-top: 1rem;
}

footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bold {
  font-size: 1.4rem;
  font-weight: 700;
}

.title-gray {
  color: #898789;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.5;
  margin-bottom: 1.5rem;
}

.with-icon {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.with-icon:before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  width: 1.9rem;
  text-align: center;
}

.with-icon.i-phone:before {
  content: url("../img/footer/phone.svg");
}

.with-icon.i-email:before {
  content: url("../img/footer/email.svg");
}

.with-icon.i-point:before {
  content: url("../img/footer/map-point.svg");
}

.mobile-navbar {
  display: none;
  z-index: 49;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.mobile-navbar.is-active {
  display: block;
}

.mobile-navbar .content {
  margin-top: 10rem;
}

.mobile-navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
  text-align: center;
}

.mobile-navbar .menu a {
  font-weight: normal;
  font-size: 2rem;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mobile-navbar .menu .current-menu-item a {
  color: #B6985A;
}

.mobile-navbar .footer {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (max-height: 550px) {
  .mobile-navbar .footer {
    display: none;
  }
}

@media (max-height: 479px) {
  .mobile-navbar .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.modal {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  padding: 5rem 3rem;
  z-index: 60;
  max-width: 440px;
}

.modal a.close-modal {
  top: 10px;
  right: 10px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGCSURBVGhD7ZjJSsNgFEarblVwngVfxAk3zhtfwrUvoIiIiIgT+DwOKycQZxSfwoUrPV/thZ/i0GpM/sA9cGhyoeE/JSRpCo7jOI7jOE6U1JY+k+Q/jvktc3iCbcW9ZBjEaxwo7qVAHSriDS8xiRhFvKCOuahBWrTiBSYRM4QWsYc1mCphzBW2Y7UMY6YRRgueoxai87sDKyWM2MXMIozfxIygRexg5hFGM1rMDXbiV4yiRWxjNBGGYs5QC7zFLiwnjNjC6CKMMOYOw5gxzEWE0YRhTDeGEZsYfYShmFPUwp8xlxGGYnQVU4Dcx1wyjq9oIffYg7liAi1C94nj0vYD5iZmEi1iQwNoxDCmF6MmjFjXIEAxRxh9zBRaxJoGnxDGPGJ0MdP4U4TRgGFMH0ZBGLGqQQVEFzODFrGiQRUo5hD13SfMLGYWfxthlMf0Y6qEEcsa/IF6zCRGLx/sv8eSBgmgmANM4oepCr1smP/YTAzFLGDuHiodx3Ecx3GcXFAovAOKRnlJxR5NYwAAAABJRU5ErkJggg==");
}

.modal .input-wrapper {
  border-radius: 1rem;
  max-width: 30rem;
  margin: auto;
}

.modal .input-wrapper input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 1px solid transparent;
  margin-bottom: 2rem;
  background-color: #ededed;
  padding: 1.5rem 3rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal .input-wrapper input:hover {
  -webkit-box-shadow: 0 0 5px rgba(182, 152, 90, 0.2);
          box-shadow: 0 0 5px rgba(182, 152, 90, 0.2);
}

.modal .input-wrapper input:focus {
  border-color: #B6985A;
}

.modal .btn {
  min-width: 30rem;
}

@media screen and (max-width: 780px) {
  .modal .btn {
    min-width: 100%;
  }
}

.modal p {
  font-size: 1.6rem;
}

.blocker {
  z-index: 60;
}

.space .btn {
  margin-right: 3rem;
}

.other-pages {
  min-height: unset;
}

#our-job .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 4rem;
}

#our-job .sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(16.66667% - 30px);
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (max-width: 780px) {
  #our-job .sidebar {
    width: calc(25% - 30px);
  }
}

@media screen and (max-width: 560px) {
  #our-job .sidebar {
    width: calc(100% - 30px);
  }
}

#our-job .sidebar .btn {
  min-width: unset;
}

#our-job .sidebar .title {
  color: #898789;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

#our-job .job-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(83.33333% - 30px);
}

@media screen and (max-width: 780px) {
  #our-job .job-container {
    width: calc(75% - 30px);
  }
}

@media screen and (max-width: 560px) {
  #our-job .job-container {
    width: calc(100% - 30px);
  }
}

#our-job ul {
  margin-bottom: 2.2rem;
}

#our-job ul li {
  text-transform: uppercase;
  color: #615a4d;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.24rem;
  margin: 1.5rem 0;
  cursor: pointer;
}

#our-job ul li.mixitup-control-active {
  color: #B6985A;
}

#our-job ul li.mixitup-control-active:before {
  content: '';
  width: 1.5rem;
  height: .1rem;
  background-color: #B6985A;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  vertical-align: middle;
}

#our-job ul.with-borders {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

#about-company {
  text-align: center;
  padding-bottom: 4rem;
}

#about-company .company-name {
  margin-bottom: 2rem;
}

.company-name {
  font-family: 'Prata', serif;
  color: #615a4d;
  font-size: 2rem;
}

.description {
  color: #9D98A1;
}

#company-digits {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

#company-digits .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#company-digits .row .digit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  text-align: center;
  margin-bottom: 2rem;
  color: #9D98A1;
}

@media screen and (max-width: 780px) {
  #company-digits .row .digit {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 560px) {
  #company-digits .row .digit {
    width: calc(100% - 30px);
  }
}

#company-digits .row .digit img {
  margin-bottom: 3rem;
}

#seo-text {
  background-color: #fafafa;
  padding: 10rem 0;
}

#seo-text h2 {
  text-align: left;
}

#contacts .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

#contacts .row .left-side {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66667% - 30px);
  margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
  #contacts .row .left-side {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 780px) {
  #contacts .row .left-side {
    width: calc(100% - 30px);
  }
}

#contacts .row .right-side {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(58.33333% - 30px);
}

@media screen and (max-width: 960px) {
  #contacts .row .right-side {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 780px) {
  #contacts .row .right-side {
    width: calc(100% - 30px);
  }
}

#contacts .with-icon {
  color: #615a4d;
}

#contacts .btn-inverse {
  margin-top: 4.3rem;
}

#contacts #map {
  height: 54.9rem;
}

hr {
  border: 4px solid #B6985A;
  margin: 1.5rem 0;
}

ol {
  margin-top: .7rem;
}

ol li {
  margin-bottom: 1rem;
}

#our-production,
#for-partners {
  text-align: center;
}

#our-production p,
#for-partners p {
  max-width: 82.5rem;
  margin: auto;
  margin-bottom: 3rem;
  font-size: 1.6rem;
}

#our-production .images,
#for-partners .images {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

#our-production .images img,
#for-partners .images img {
  margin-bottom: 1rem;
}

#our-production .images .left,
#for-partners .images .left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 560px) {
  #our-production .images .left,
  #for-partners .images .left {
    width: calc(100% - 30px);
  }
}

#our-production .images .right,
#for-partners .images .right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

@media screen and (max-width: 560px) {
  #our-production .images .right,
  #for-partners .images .right {
    width: calc(100% - 30px);
  }
}

#for-partners {
  padding-bottom: 2.5rem;
}

.features-row.style-2 {
  margin-bottom: 3rem;
}

#why .reasons {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.reasons {
  margin-bottom: 3rem;
  counter-reset: counter;
}

.reasons .reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.2rem;
}

.reasons .reason img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}

.reasons .reason .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  background-color: #fff;
  color: #615a4d;
  font-size: 2rem;
  min-height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.7rem 1rem;
  margin-left: -6rem;
  padding-left: 5rem;
  position: relative;
}

.reasons .reason .content p {
  font-family: 'Prata', serif;
  font-weight: 400;
  max-width: 395px;
}

.reasons .reason .content:before, .reasons .reason .content:after {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reasons .reason .content:before {
  content: url("../img/interesting-proposals/polygon.svg");
  width: 6.4rem;
  height: auto;
}

.reasons .reason .content:after {
  /*Инкрементировуется только счетчик текущего уровня вложенности*/
  counter-increment: counter;
  content: "0" counter(counter);
  color: #B6985A;
  font-size: 4rem;
  font-family: 'Prata', serif;
}

@media (max-width: 899px) {
  .reasons .reason .content {
    margin-left: unset;
    padding-left: 0;
    text-align: center;
  }
  .reasons .reason .content:before, .reasons .reason .content:after {
    display: none;
  }
  .reasons .reason .content p {
    margin: auto !important;
  }
}

.reasons .reason.inverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 899px) {
  .reasons .reason.inverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.reasons .reason.inverse .content {
  margin-left: 0;
  padding-left: 1rem;
  margin-right: -6rem;
  padding-right: 6rem;
}

.reasons .reason.inverse .content p {
  margin-left: auto;
}

.reasons .reason.inverse .content:before, .reasons .reason.inverse .content:after {
  left: unset;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

@media (max-width: 899px) {
  .reasons .reason.inverse .content {
    margin-left: unset;
    padding-left: 0;
    margin-right: 0;
    padding-right: 1rem;
  }
  .reasons .reason.inverse .content p {
    margin-left: 0;
  }
}

.reasons .reason.primary-content .content {
  background-color: #B6985A;
  color: #fff;
  font-size: 2.8rem;
}

.reasons .reason.primary-content .content:before, .reasons .reason.primary-content .content:after {
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
}

@media screen and (max-width: 780px) {
  .reasons .reason.primary-content .content {
    font-size: 2.2rem;
  }
}

.social-btns {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-btns .social-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  height: 9rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  border: 1px solid;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding-right: 1rem;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
  .social-btns .social-btn {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .social-btns .social-btn {
    width: calc(100% - 30px);
  }
}

.social-btns .social-btn:before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9rem;
  margin-right: 1rem;
}

.social-btns .social-btn:hover {
  color: #fff !important;
}

.social-btns .social-btn:focus {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.social-btns .social-btn.i-phone {
  border-color: #B6985A;
  color: #B6985A;
}

.social-btns .social-btn.i-phone:before {
  content: url("../img/collaboration/phone.svg");
  background-color: #B6985A;
}

.social-btns .social-btn.i-phone:hover {
  background-color: #B6985A;
}

.social-btns .social-btn.i-whatsapp {
  border-color: #1bd741;
  color: #1bd741;
}

.social-btns .social-btn.i-whatsapp:before {
  content: url("../img/collaboration/whatsapp.svg");
  background-color: #1bd741;
}

.social-btns .social-btn.i-whatsapp:hover {
  background-color: #1bd741;
}

.social-btns .social-btn.i-telegram {
  border-color: #61a8de;
  color: #61a8de;
}

.social-btns .social-btn.i-telegram:before {
  content: url("../img/collaboration/telegram.svg");
  background-color: #61a8de;
}

.social-btns .social-btn.i-telegram:hover {
  background-color: #61a8de;
}

.social-btns .social-btn.i-whatsapp, .social-btns .social-btn.i-telegram {
  font-size: 1.4rem;
}

@media (max-width: 1199px) {
  .social-btns .social-btn {
    font-size: 1.6rem;
    height: 7rem;
  }
  .social-btns .social-btn:before {
    width: 7rem;
  }
}

.pic-wrapper {
  right: 0;
  left: 51%;
  top: 0;
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 80rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

@media (max-width: 780px) {
  .pic-wrapper {
    opacity: .15;
    width: 100%;
    left: 0;
  }
}

figure {
  position: absolute;
  top: -14px;
  left: -40px;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*animation*/
  -webkit-animation: slideShow 18s linear infinite 0s;
          animation: slideShow 18s linear infinite 0s;
}

figurecaption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
}

.pic-1 {
  opacity: 1;
  background: url("../img/main-page/slider-image-2.jpg") no-repeat center center;
  background-size: cover;
}

.pic-2 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  background: url("../img/main-page/slider-image-1.jpg") no-repeat center center;
  background-size: cover;
}

.pic-3 {
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
  background: url("../img/main-page/slider-image-3.jpg") no-repeat center center;
  background-size: cover;
}

/* keyframes*/
@-webkit-keyframes slideShow {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes slideShow {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

a[data-modal] {
  cursor: pointer;
}

#page {
  min-height: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.5);
}

#colophon {
  padding: 25px 0;
  font-size: 85%;
  background-color: #2A2A2A;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
}

#ascrail2000 {
  z-index: 10 !important;
}
/*# sourceMappingURL=style.css.map */